@font-face {
    font-family: 'alex-brush';
    src: url(polices/alex-brush/AlexBrush-Regular.ttf);
}

body {
    background: url(images/fond.jpg);
}

#bloc_page {
	width: 100%;
	min-width: 500px;
	margin: auto;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}

aside {
	background-color: black;
	border-radius: 1em;
	margin-right: 5px;
	width : 25%;
	text-align: center;
}

#bloc_sans_aside {
	margin: auto;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 100%;
}

#identification {
	flex: 1;
	margin-left: 112px;
}

#photo {
    position: top right;
}

#cv {
	display: flex;
	flex-direction: row;
	text-align: space-around;
}

section h1 {
    font-size: 3ex;
    font-weight: bold;
    text-decoration: underline;
}

section {
	margin-left: 15px;
}


/* responsive */
@media screen and (max-width:1024px) {

	aside {
		display: none;
	}

	#cv {
		flex-direction: column;
	}
}